@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color-text: #3a3a3a;
  --color-btn: #FD9235;
}

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-size: 1rem;

  font-family: 'Lato', sans-serif;;
}


body {

  min-height: 100vh;

  display: grid;

  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 4fr;

  color: var(--color-text);

}

ul {
  list-style: none;
}

/* *************************** */

/* TEMP */
/* img {
  height: 20px;
  width: 20px;
} */

/* *************************** */

/* HEADER */
header {
  grid-area: 1 / 2 / 1 / 3;
  background-color: #F8EDEB;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2;

  grid-template-areas: "";
  row-gap: 20px;

  padding: 12px 32px;

  box-shadow: 0 0 10px gray;
  z-index: 1;
}

.search-bar-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.search-bar-container > input {
  width: clamp(200px, 100%, 700px);
  border-radius: 20px;
  border: none;

  background-color: #FCD5CE;
  padding: 8px 8px;
  
}

img {
  height: 30px;
  width: 30px;
}

.account-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

}

.account-container > div {
  display: flex;
  align-items: center;
}

.account {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: gainsboro;
}

.account > img {
  width: 100%;
  height: auto;
}

.account-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-btns-container {
  display: flex;

  align-items: center;
  justify-content: start;
  gap: 24px;

}

.user-btns-container button {
  border-radius: 24px;
  border: none;

  width: 5rem;
  height: 2rem;
  
  font-weight: bold;
  font-size: 1rem;

  background-color: var(--color-btn);
}

.user-btns-container button:hover {
  opacity: 70%;
  cursor: pointer;
}

.user-btns-container button:active {
  opacity: 20%;
}

/* GREETING WALA */

.greeting-container {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 14px;
}

.greeting-container > .profile-pic-container {
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;

  background-color: gainsboro;
  
}

.profile-pic-container  {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-pic-container > img{
  width: 100%;
  height: auto;
}

.greeting-container > p {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 1.5rem;
}

.greeting-container > .hello {
  font-size: 0.8rem;
  align-self: self-end;
}

.hello + p {
  align-self: self-start;
}

/* *************************** */

/* *************************** */

/* SIDEBAR */
.side-bar {
  background-color: #FD9235;
  z-index: 2;

  grid-area: 1 / 1 / -1 / 1;

  display: flex;
  flex-direction: column;

  gap: 62px;   


  padding: 24px;

}

.dashboard-title {
  display: flex;

  gap: 12px;
  align-items: center;
}

.logo-container {
  width: 50px;
  height: 50px;

  background-color: var(--color-text);
}

.dashboard-title > h1 {
  font-size: 2.2rem;
}

nav ul {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

nav li {
  display: flex;
  align-items: center;
  gap: 24px;

}

nav li a {
  font-size: 1.3rem;
  font-weight: bolder;

  text-decoration: none;
}

a:visited {
  color: inherit;
}





/* *************************** */
/* main contnent */
main {
  background-color: #FEC5BB;
}

/* *************************** */